<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymfTest</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
<h1 class="text-center">
    {{  page_title }}
</h1>

    <div class="container">
        <div class="col-md-4 offset-4">
            <form id="word-checker-form">
                <div class="form-group">
                    <label for="submitted_word">Word to Check</label>
                    <input type="text" required class="form-control" id="submitted_word" name="submitted_word" aria-describedby="emailHelp" placeholder="Enter Word">
                    <small id="submitted_word_help" class="form-text text-muted">
                        This is the word we'll check Palindromes on
                    </small>
                </div>
                <div class="form-group">
                    <label for="compare_word">Word to Compare Against</label>
                    <input type="text" class="form-control" name="compare_word" id="compare_word" placeholder="Enter Second Word">
                    <small id="compare_word_help" class="form-text text-muted">
                        This is the word we'll check to see if any anagrams can be made up of the first word
                    </small>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </br>
        <div class="col-md-4 offset-4">
            <div id="p-result-dynamic" style="display:none";>
                <div id="palindrome_dynamic" class="alert alert-success" role="alert">
                    <p id="palindrome_dynamic_text">Palindrome was found!</p>
                </div>
            </div>
            <div id="a-result-dynamic" style="display:none";>
                <div id="anagram_dynamic" class="alert alert-success" role="alert">
                    <p id="anagram_dynamic_text">Anagram was found!</p>
                </div>
            </div>
            <div id="pa-result-dynamic" style="display:none";>
                <div id="pangram_dynamic" class="alert alert-success" role="alert">
                    <p id="pangram_dynamic_text">Pangram was found!</p>
                </div>
            </div>
        </div>
    </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        $(document).ready(function(){
            $("form").on("submit", function(event){
                event.preventDefault();

                var formValues= $(this).serialize();

                $.post("/api/word", formValues, function(data){
                    // Show all the alerts
                    $("#p-result-dynamic").css('display', 'block');
                    $("#pa-result-dynamic").css('display', 'block');
                    $("#a-result-dynamic").css('display', 'block');

                    // Check Palindrome has came b ack
                    if(data.palindrome_check === true) {
                        $("#palindrome_dynamic").addClass('alert-success').removeClass('alert-danger');
                        $("#palindrome_dynamic_text").text('Palindrome Was Found!');
                    } else {
                        $("#palindrome_dynamic").addClass('alert-danger').removeClass('alert-success');
                        $("#palindrome_dynamic_text").text('Palindrome Was Not Found!');
                    }

                    // Check Anagram has came back
                    if(data.anagram_check === true) {
                        $("#anagram_dynamic").addClass('alert-success').removeClass('alert-danger');
                        $("#anagram_dynamic_text").text('Anagram Was Found!');
                    } else {
                        $("#anagram_dynamic").addClass('alert-danger').removeClass('alert-success');
                        $("#anagram_dynamic_text").text('Anagram Was Not Found!');
                    }

                    // Check pangram has came back
                    if(data.pangram_check === true) {
                        $("#pangram_dynamic").addClass('alert-success').removeClass('alert-danger');
                        $("#pangram_dynamic_text").text('Pangram Was Found!');
                    } else {
                        $("#pangram_dynamic").addClass('alert-danger').removeClass('alert-success');
                        $("#pangram_dynamic_text").text('Pangram Was Not Found!');
                    }

                });
            });
        });
    </script>
</html>
